<h1>Online Store</h1>

<div class="products-grid">
  <div class="product-card" *ngFor="let product of products">

    <img [src]="product.image" alt="{{ product.name }}" />

    <h2>
      <a [href]="product.link" target="_blank" rel="noopener noreferrer">
        {{ product.name }}
      </a>
    </h2>

    <p>{{ product.description }}</p>

    <p><strong>Price:</strong> {{ formatPrice(product.price) }} ₸</p>

    <p class="rating">
      <span class="stars">
        <span *ngFor="let s of getStars(product.rating)">{{ s }}</span>
      </span>
      <span class="badge">{{ product.rating }}</span>
    </p>
    <a
      [href]="getWhatsAppLink(product)"
      target="_blank"
      class="share-btn">
      Share via WhatsApp
    </a>

  </div>
</div>
